# this is an example file that shows what should be in the .env file.
# the .env file is need by the server to connect to services that
# require credentials.

DB_URI='mongodb://urn'
JWT_SECRET='shhhhh'
COMPILER_API_BASE='compiler-base-url'
